#Executable
Avalanche.exe

#Visual Studio files
*.sdf
*.opensdf
*.user
*.filter
*.ilk
*.pdb
*.ipch
*.suo
*.bsc
Debug
Release
Source/ipch

#Windows
Thumbs.db

#Engine log file
engine.txt